.settings-widget-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--size-s);
    flex: 1 1 50%;
    padding: clamp(10px, var(--size-s), 20px);
    filter: drop-shadow(0 0 0.5vw rgba(255, 255, 255, 0.5));
    /* filter: blur(0.05vw); */
}

.settings-widget-wrapper:not(:last-child) {
    border-right: 1px solid var(--color-blue);
}

.settings-widget-icon {
    position: relative;
    width: clamp(40px, var(--size-l), 70px);
    height: clamp(40px, var(--size-l), 70px);
    border-radius: 100%;
    border: 2px solid var(--color-yellow);
    background-color: var(--color-lightblue);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-widget-icon .settings-widget-label{
    color: var(--color-ink);
    z-index: 2;
    /* mix-blend-mode: difference; */
}

.settings-widget-icon::before {
    content: "";
    position: absolute;
    top: var(--max, 100%);
    bottom: var(--min, 0%);
    /* height: var(--max, 100%); */
    left: 0;
    right: 0;
    background-color: var(--color-lightblue);
}

.settings-widget-icon svg {
    color: var(--color-reverse);
    animation: wave 3s linear 0s infinite;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 200%;
}

.settings-widget-icon svg path {
    stroke: var(--color-yellow);
}

.settings-widget-text {
    color: var(--color-green);
    border-right: 1px solid var(--color-blue);
}

@keyframes wave {
    from {left: -100%;}
    to {left: 0%;}
}

.settings-widget-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: clamp(5px, var(--size-s), 20px);
}

.widget-info-text {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.settings-info-label {
    color: var(--color-lightblue);
}

.text-setting {
    filter: drop-shadow(0 0 0.5vw rgba(255, 255, 255, 0.5));
    color: var(--color-yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 50%;
    border-right: 1px solid var(--color-blue);
    /* color: var(--color-lightblue); */
}