.input-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
}

.settings-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* background-color: green; */
  /* padding: var(--size-s); */
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
}
/* 
.wave-type-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--size-s);
}

.wave-type-icon {
  position: relative;
  width: var(--size-l);
  height: var(--size-l);
  max-width: 40px;
  max-height: 40px;
  border-radius: 100%;
  border: 2px solid var(--color-ink);
  background-color: var(--color-ink);
  overflow: hidden;
}

.wave-type-icon::before {
  --high-value: 10%;
  --low-value: 50%;
  content: "";
  position: absolute;
  top: var(--high-value);
  bottom: var(--low-value);
  left: 0;
  right: 0;
  background-color: var(--color-green);
}

.wave-type-icon svg {
  color: var(--color-reverse);
  animation: wave 3s linear 0s infinite;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 200%;
}

@keyframes wave {
  from {left: -100%;}
  to {left: 0%;}
} */

.notes-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background: red; */
  width: 100%;
  text-align: center;
}

.note-card {
  padding: 0 var(--size-s);
  flex: 0 1 100%;
  justify-self: stretch;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}