.synth-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background: rgb(32,27,85);
    background: radial-gradient(circle, rgba(32,27,85,1) 0%, rgba(2,0,23,1) 100%);
    padding: clamp(10px, var(--size-s), 30px);
    gap: var(--size-s);

}

.oscillator-wrapper,
.LFO-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    /* padding: var(--size-s); */
    border: 1px solid var(--color-blue);
    border-radius: var(--size-s);
    overflow: hidden;
    color: var(--color-reverse);
    flex-shrink: 0;
    /* flex: 1 1 25%; */
}

/* @media screen and (max-width:800px) {
    .oscillator-wrapper,
    .LFO-wrapper {
        flex-direction: row;
    }
} */

.notes-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    justify-self: stretch;
    align-self: stretch;
    border-radius: var(--size-s);
    flex: 1 1 100%;
    overflow: hidden;
    border: 1px solid var(--color-blue);
}

.note-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 100%;
    align-self: stretch;
    color: var(--color-reverse);
}

.note-card .note-name {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    mix-blend-mode: difference;
}

.note-card .note-octave {
    flex-grow: 0;
    padding: var(--size-s);
    mix-blend-mode: difference;
}

.note-card.note-placeholder {
    color: var(--color-lightblue);
    font-size: 12vw;
}

.keyboard-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    flex-grow: 1;
}

.keyboard-note {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% / 10);
    height: 100%;
    flex-grow: 1;
    background-color: var(--color-reverse);
    color: var(--color-ink);
    border: 1px solid var(--color-blue);
    z-index: 0;
    padding-bottom: var(--size-s);
}

.keyboard-note.black-note {
    z-index: 1;
    width: 6%;
    margin: 0 -3% 0 -3%;
    height: 60%;
    background-color: var(--color-ink);
    color: var(--color-reverse);
    border-radius: 0px 0px 1vw 1vw;
}