.App {
  text-align: center;
  /* cursor: none; */
  /* min-height: 100vh;
  max-height: 100vh; */
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  background: rgb(32,27,85);
  background: radial-gradient(circle, rgba(32,27,85,1) 0%, rgba(2,0,23,1) 100%);
}

